################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/Business.SourceGenerator.Meta/.vs
/Business.SourceGenerator.Meta/Properties
/Business.SourceGenerator.Meta/bin
/Business.SourceGenerator.Meta/obj
*.user
